
<div class="container">
  <nav class="row">
    <div class="nav-wrapper">
      <span class="brand-logo center"><h4>{{ username }}</h4></span>
</div>
</nav>
</div>
<h6>Zadania {{ showComplete ? "" : "pozostałe do wykonania" }}: {{ itemCount }}</h6>

<div class="container">
  <div class="row">
<div class="col">
  <input type="text" placeholder="Wpisz zadanie do wykonania" #todoText>
</div>
<div>
  <button (click)="addItem(todoText.value)">DODAJ</button>
</div>
    </div>
  </div>



<table>
  <thead>
    <tr><th>#</th><th>Zadanie</th><th>Wykonane</th></tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.task }}</td>
        <td><label>
          <input type="checkbox" class="filled-in" [(ngModel)]="item.complete"/><span></span>
          </label></td>
        <!-- <td [ngSwitch]="item.complete"> 
          <span *ngSwitchCase="true">TAK</span>
          <span *ngSwitchDefault>NIE</span>
          </td> -->
      </tr>    
      </tbody>
  </table>
  <div>
    <div>
      <label><input type="checkbox" class="filled-in" [(ngModel)]="showComplete"/><span></span></label>
      <label for="defaultCheck1">Pokaż zadania</label>
    </div>
  </div>


